<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule"
            scriptProcessor="C:\Program Files\Python311\python.exe|&quot;C:\Program Files\Python311\Lib\site-packages\wfastcgi.py&quot;"
            resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <directoryBrowse enabled="true" />
    </system.webServer>
    <appSettings>
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
        <add key="PYTHONPATH" value="D:\python_test\MovieRecommended" />
        <add key="DJANGO_SETTINGS_MODULE" value="MovieRecommended.settings" />
    </appSettings>
</configuration>

