<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="Python FastCGI" />
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule"
            scriptProcessor="C:\Program Files\Python311\python.exe|&quot;C:\Program Files\Python311\Lib\site-packages\wfastcgi.py&quot;"
            resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
